.footer {

    color: #00FF97;
    font-family: 'HACKED';
    font-size: 32px;

    &__content {

        &__addres {

            text-align: center;
            margin-bottom: 40px;

        }

        &__contacts {

            display: flex;
            justify-content: space-between;

            @media (max-width: 900px) {

                display: block;

            }

            div {

                margin-bottom: 40px;
                text-align: center;

            }

        }

    }

}

